# CSS snippets
# symlinked to scss.snippets

# Section comment block
snippet /*==



	/* ==========================================================================
	   ${1}
	   ========================================================================== */

	${2}
