# PHP snippets

# Section comment block
snippet /*==


	/* ==========================================================================
	   ${1}
	   ========================================================================== */

	${2}


# Subsection comment block
snippet /*=

	/* ${1}
	   ========================================================================== */

	${2}


# Inline comment block
snippet //
	/* ${1} */
